<ion-content class="fundo">

  <ion-list>
    <ion-item>
      <ion-label  position="floating">Login</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-list>

  <div>
    <ion-button expand="full" (click)="logar()">Logar</ion-button>
  </div>

</ion-content>
