<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="codigo == null">Publicar Produtos</ion-title>
    <ion-title *ngIf="codigo != null">Editando Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form [formGroup]="postagem" (ngSubmit)="postarProduto()">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" name="nome" [(ngModel)]="nome" value="{{nome}}"  formControlName="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Valor</ion-label>
        <ion-input type="text" name="valor" [(ngModel)]="valor" value="{{valor}}"  formControlName="valor"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Quantidade</ion-label>
          <ion-input type="number" name="qtd" [(ngModel)]="qtd"  value="{{qtd}}" formControlName="qtd"></ion-input>
        </ion-item>

      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-input type="text" name="descricao" [(ngModel)]="descricao" value="{{descricao}}"  formControlName="descricao"></ion-input>
      </ion-item>


      <div style="margin-top: 40px;">
        <ion-button type="submit" expand="full" color="danger" *ngIf="codigo == null">Publicar</ion-button>
        <ion-button type="submit" expand="full" color="danger" *ngIf="codigo != null">Salvar Edição</ion-button>
      </div>
    </form>
  </ion-list>


</ion-content>